<?xml version="1.0" encoding="utf-8" ?>
<RedisClientConfig xmlns="http://www.w3.org/2001/XMLSchema-instance http://tempuri.org/RedisConfig.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema http://tempuri.org/RedisConfig.xsd">
  <MaxWritePoolSize>8</MaxWritePoolSize>
  <MaxReadPoolSize>12</MaxReadPoolSize>
  <IdleTimeOutSecs>36000</IdleTimeOutSecs>
  <ConnectTimeout>6000</ConnectTimeout>
  <SendTimeout>-1</SendTimeout>
  <ReceiveTimeout>-1</ReceiveTimeout>
  <PoolTimeout>6000</PoolTimeout>
  <DefaultDb>0</DefaultDb>
  <ReadOnlyServer>127.0.0.1:6379</ReadOnlyServer>
  <ReadWriteServer>127.0.0.1:6379</ReadWriteServer>
</RedisClientConfig>